<h1>Cart</h1>
<hr>
<table >
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col">Stock</th>
      <th scope="col">Quantity</th>
      <th scope="col"></th>
    </tr>
  </thead>
  {{#each productsInCart}}
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>{{id.title}}</td>
      <td>{{id.price}}</td>
      <td>{{id.stock}}</td>
      <td>{{quantity}}</td>
      <td>
      
      </td>
    </tr>
  </tbody>
  {{/each}}
</table>
<form action="/api/carts/{{cart._id}}/purchase" method="post">
  <button>Comprar</button>
</form>

<a href="/products"><button>Volver al Inicio</button></a>

<script src="/js/deleteCart.js"></script>